Repository hui444/frontend-practices, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend-mentor-setup, frontend-mentor-challenge, workflow

feat: add some styling to frontend mentor home page, update fm card
  public/css/style.css
  public/css/style.css.map
  src/scss/components/_frontendMentorCard.scss
Labels: none

feat: add readme with frontend mentor challenges
  README.md
Labels: none

feat: create (order summary) component with dynamic info
  src/components/frontendMentor/orderSummary/orderSummaryCard.tsx
  src/pages/frontendMentor/orderSummaryChallenge/index.tsx
Labels: frontend-mentor-challenge

testing new branch
  src/pages/frontendMentor/index.tsx
Labels: frontend-mentor-challenge

feat: remove delete branch workflow
  .github/workflows/delete-merged-branch-config.yml
Labels: workflow

wip: card mobile view
  public/css/style.css
  public/css/style.css.map
  src/components/frontendMentor/statsPreviewCard/StatsPreviewCard.tsx
  src/pages/frontendMentor/statsPreviewCardChallenge/index.tsx
  src/routes/index.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/abstracts/_colors.scss
  src/scss/components/frontendMentor/statsPreviewCard/_statsPreviewCard.scss
  src/scss/pages/frontendMentor/statsPreviewCard/_statsPreviewCard.scss
Labels: frontend-mentor-challenge

feat: complete stats preview card challenge
  public/css/style.css
  public/css/style.css.map
  src/components/frontendMentor/statsPreviewCard/StatsPreviewCard.tsx
  src/pages/frontendMentor/statsPreviewCardChallenge/index.tsx
  src/scss/components/frontendMentor/statsPreviewCard/_statsPreviewCard.scss
Labels: frontend-mentor-challenge

feat: update README.md to reflect completed challenge
  README.md
Labels: none

feat: setup 3col preview card challenge, add font-names scss file
  public/css/style.css
  public/css/style.css.map
  src/assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf
  src/assets/fonts/Big_Shoulders_Display/OFL.txt
  src/assets/fonts/Big_Shoulders_Display/README.txt
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Black.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Bold.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-ExtraBold.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-ExtraLight.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Light.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Medium.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Regular.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-SemiBold.ttf
  src/assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Thin.ttf
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/.gitignore
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/README-template.md
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/README.md
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/design/active-states.jpg
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/design/desktop-design.jpg
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/design/desktop-preview.jpg
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/design/mobile-design.jpg
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/images/favicon-32x32.png
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/images/icon-luxury.svg
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/images/icon-sedans.svg
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/images/icon-suvs.svg
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/index.html
  src/assets/frontendMentorInfo/3-column-preview-card-component-main/style-guide.md
  src/common/paths.ts
  src/pages/frontendMentor/colPreviewCardChallenge/index.tsx
  src/pages/frontendMentor/index.tsx
  src/routes/index.tsx
  src/scss/abstracts/_colors.scss
  src/scss/abstracts/_font-names.scss
  src/scss/abstracts/_index.scss
  src/scss/abstracts/_type.scss
  src/scss/components/_index.scss
  src/scss/components/frontendMentor/colPreviewCard/_colPreviewCard.scss
  src/scss/core/_font-face.scss
  src/scss/pages/_index.scss
  src/scss/pages/frontendMentor/colPreviewCard/_colPreviewCard.scss
Labels: frontend-mentor-setup, frontend-mentor-challenge

feat: complete col preview card challenge
  README.md
  public/css/style.css
  public/css/style.css.map
  src/pages/frontendMentor/colPreviewCardChallenge/index.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/components/frontendMentor/colPreviewCard/_colPreviewCard.scss
  src/scss/components/frontendMentor/nftPreviewCard/_nftPreviewCard.scss
  src/scss/components/frontendMentor/orderSummary/_orderSummaryCard.scss
  src/scss/components/frontendMentor/statsPreviewCard/_statsPreviewCard.scss
  src/scss/pages/frontendMentor/colPreviewCard/_colPreviewCard.scss
Labels: frontend-mentor-challenge

feat: add colpreviewcard file
  src/components/frontendMentor/colPreviewCard/colPreviewCard.tsx
Labels: frontend-mentor-challenge

feat: set up profile card component challenge
  public/css/style.css
  public/css/style.css.map
  src/assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_wght.ttf
  src/assets/fonts/Kumbh_Sans/OFL.txt
  src/assets/fonts/Kumbh_Sans/README.txt
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-Black.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-ExtraBold.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-ExtraLight.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-Light.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-Medium.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-SemiBold.ttf
  src/assets/fonts/Kumbh_Sans/static/KumbhSans-Thin.ttf
  src/assets/frontendMentorInfo/profile-card-component-main/.gitignore
  src/assets/frontendMentorInfo/profile-card-component-main/README-template.md
  src/assets/frontendMentorInfo/profile-card-component-main/README.md
  src/assets/frontendMentorInfo/profile-card-component-main/design/desktop-design.jpg
  src/assets/frontendMentorInfo/profile-card-component-main/design/desktop-preview.jpg
  src/assets/frontendMentorInfo/profile-card-component-main/design/mobile-design.jpg
  src/assets/frontendMentorInfo/profile-card-component-main/images/bg-pattern-bottom.svg
  src/assets/frontendMentorInfo/profile-card-component-main/images/bg-pattern-card.svg
  src/assets/frontendMentorInfo/profile-card-component-main/images/bg-pattern-top.svg
  src/assets/frontendMentorInfo/profile-card-component-main/images/favicon-32x32.png
  src/assets/frontendMentorInfo/profile-card-component-main/images/image-victor.jpg
  src/assets/frontendMentorInfo/profile-card-component-main/index.html
  src/assets/frontendMentorInfo/profile-card-component-main/style-guide.md
  src/common/paths.ts
  src/components/frontendMentor/profileCard/profileCard.tsx
  src/pages/frontendMentor/index.tsx
  src/pages/frontendMentor/profileCardChallenge/index.tsx
  src/routes/index.tsx
  src/scss/abstracts/_colors.scss
  src/scss/abstracts/_font-names.scss
  src/scss/abstracts/_type.scss
  src/scss/components/_index.scss
  src/scss/components/frontendMentor/profileCard/_profileCard.scss
  src/scss/core/_font-face.scss
  src/scss/pages/_index.scss
  src/scss/pages/frontendMentor/profileCardChallenge/_profileCardChallenge.scss
Labels: frontend-mentor-setup, frontend-mentor-challenge

feat: complete profile card challenge
  public/css/style.css
  public/css/style.css.map
  src/components/frontendMentor/profileCard/profileCard.tsx
  src/pages/frontendMentor/profileCardChallenge/index.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/components/frontendMentor/profileCard/_profileCard.scss
  src/scss/pages/frontendMentor/profileCardChallenge/_profileCardChallenge.scss
Labels: frontend-mentor-challenge

fix: alignment of background circles
  public/css/style.css
  src/scss/pages/frontendMentor/profileCardChallenge/_profileCardChallenge.scss
Labels: none

fix: update readme
  README.md
Labels: none

feat: make profilecard reusable
  public/css/style.css
  src/components/frontendMentor/profileCard/profileCard.tsx
  src/pages/frontendMentor/profileCardChallenge/index.tsx
Labels: frontend-mentor-challenge

feat: set up faq accordion card challenge
  public/css/style.css
  public/css/style.css.map
  src/common/paths.ts
  src/pages/frontendMentor/index.tsx
  src/routes/index.tsx
  src/scss/abstracts/_colors.scss
  src/scss/abstracts/_type.scss
  src/scss/components/_index.scss
  src/scss/pages/_index.scss
  src/scss/pages/frontendMentor/colPreviewCard/_colPreviewCard.scss
  src/scss/pages/frontendMentor/nftPreviewCard/_nftPreviewCard.scss
  src/scss/pages/frontendMentor/orderSummary/_orderSummary.scss
  src/scss/pages/frontendMentor/statsPreviewCard/_statsPreviewCard.scss
Labels: frontend-mentor-challenge

wip: alignment of images in mobile, animation for block
  public/css/style.css
  public/css/style.css.map
  src/assets/frontendMentorInfo/faq-accordion-card-main/.gitignore
  src/assets/frontendMentorInfo/faq-accordion-card-main/README-template.md
  src/assets/frontendMentorInfo/faq-accordion-card-main/README.md
  src/assets/frontendMentorInfo/faq-accordion-card-main/design/active-states.jpg
  src/assets/frontendMentorInfo/faq-accordion-card-main/design/desktop-design.jpg
  src/assets/frontendMentorInfo/faq-accordion-card-main/design/desktop-preview.jpg
  src/assets/frontendMentorInfo/faq-accordion-card-main/design/mobile-design.jpg
  src/assets/frontendMentorInfo/faq-accordion-card-main/images/bg-pattern-desktop.svg
  src/assets/frontendMentorInfo/faq-accordion-card-main/images/bg-pattern-mobile.svg
  src/assets/frontendMentorInfo/faq-accordion-card-main/images/favicon-32x32.png
  src/assets/frontendMentorInfo/faq-accordion-card-main/images/icon-arrow-down.svg
  src/assets/frontendMentorInfo/faq-accordion-card-main/images/illustration-box-desktop.svg
  src/assets/frontendMentorInfo/faq-accordion-card-main/images/illustration-woman-online-desktop.svg
  src/assets/frontendMentorInfo/faq-accordion-card-main/images/illustration-woman-online-mobile.svg
  src/assets/frontendMentorInfo/faq-accordion-card-main/index.html
  src/assets/frontendMentorInfo/faq-accordion-card-main/style-guide.md
  src/components/frontendMentor/faqAccordionCard/faqAccordionCard.tsx
  src/pages/frontendMentor/faqAccordionCardChallenge/index.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/components/frontendMentor/faqAccordionCard/_faqAccordionCard.scss
  src/scss/pages/frontendMentor/colPreviewCardChallenge/_colPreviewCardChallenge.scss
  src/scss/pages/frontendMentor/faqAccordionCardChallenge/_faqAccordionCardChallenge.scss
  src/scss/pages/frontendMentor/nftPreviewCardChallenge/_nftPreviewCardChallenge.scss
  src/scss/pages/frontendMentor/orderSummaryChallenge/_orderSummaryChallenge.scss
  src/scss/pages/frontendMentor/statsPreviewCardChallenge/_statsPreviewCardChallenge.scss
Labels: frontend-mentor-setup, frontend-mentor-challenge

feat: implement floating animation and fix mobile view illustration
  README.md
  public/css/style.css
  public/css/style.css.map
  src/components/frontendMentor/faqAccordionCard/faqAccordionCard.tsx
  src/scss/abstracts/_breakpoints.scss
  src/scss/components/frontendMentor/faqAccordionCard/_faqAccordionCard.scss
Labels: frontend-mentor-challenge

fix: remove unnecessary whitespace
  src/components/frontendMentor/faqAccordionCard/faqAccordionCard.tsx
Labels: frontend-mentor-challenge

.github/labeler.yml:

frontend-mentor-setup:
  - 'src/assets/frontendMentorInfo/*'
  - 'src/assets/frontendMentorInfo/**/*'

frontend-mentor-challenge:
  - 'src/components/frontendMentor/**/*'
  - 'src/components/frontendMentor/*'
  - 'src/pages/frontendMentor/**/*'
  - 'src/pages/frontendMentor/*'
  - 'src/scss/components/frontendMentor/*'
  - 'src/scss/components/frontendMentor/**/*'
  - 'src/scss/pages/frontendMentor/*'

workflow:
  - '.github/workflows/*'
  - '.github/labeler.yml'
